@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    background: linear-gradient(to right, #9bc5c3, #6767A4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

nav{
    height: 50px;
    font-family: 'Rubik', sans-serif;
}  

nav ul{
    padding: 6px 30px;
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: larger;
}

nav ul li{
    padding: 8px;
}

.main{
    display: flex;
}
.index-leftside{
    width: 50%;
    height: 100vh;
    padding: 16rem 0 0 10rem;
}

.hello{
    color: #322F34;
    font-size: 6rem;
    font-family: 'Gasoek One', sans-serif;
    font-weight: 300;
}

span{
    color: #6767A4;
    font-size: 8rem;
    font-family: 'Gasoek One', sans-serif;
    font-weight: bolder;}

p{
    font-size: 20px;
}
.creative{
    color: #6767A4;
    font-size: 25px;
}


.index-rightside{
    padding: 13rem 0 0 5rem;
    width: 50%;
    height: 100vh;
}

.container{
    background-color: #6767A4;
    width: 40rem;
    height: 20rem;
    padding: 20px 30px;
    border-radius: 25px;
    box-shadow:  #322F34 30px 30px;
}

.text1 {
    font-family: 'Gasoek One', sans-serif;
    font-weight: 300;
    font-weight: bolder;
    padding: 15px 0 30px 0;
    color: #322F34;
}

a{
    display: block;
    padding: 1rem ;
}

a button{
    color: #322F34;
    padding: 0 1rem;
    background-color: #f2f2f2;
    height: 5rem;
    width: 15rem;
    font-size: x-large;
    font-family: 'Gasoek One', sans-serif;
    font-weight: 800;
    text-align: left;
    border-radius: 20px;
}

a button:hover{
    background-color: #322F34;
    color:#6767A4 ;
    transform: scale(1.2);
}